[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "zsh/zaw"]
	path = zsh/zaw
	url = https://github.com/zsh-users/zaw.git
